<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lucas Hadfield Portfolio</title>
        <meta name="description" content="Lucas Hadfield's online web portfolio showcasing his skills, 
        projects, and experience in web development and IT Study.">
        <link rel="stylesheet" href="/portfolio-project/assets/global-styles/reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
       <header>
            <div class="logo">
                <img src="/portfolio-project/assets/images/site logo.webp" alt="My dogs silly face as the Site Logo">
                <h1>Lucas Hadfield Portfolio</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html">Home</a></li>
                    <li><a href="/portfolio-project/components/projects/index.html">Projects</a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html">About Me</a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html">Contact Me</a></li>
                </ul>
            </div>
        </header>
        <main>
        <!-- Contact Me page content goes here -->
        <h2>Contact Me</h2>
        <section>
            <h3>Want to get in contact?</h3>
            <p>
                If you want to get in contact with me, please fill out the form below with your name, email and message and I'll
                reply as soon as I'm able.
            </p>
            <form action="mailto:lucas.hadfield03@gmail.com" method="post" enctype="text/plain">
                    <div class="form-group">
                        <label for="name">Your Name (required)</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email (required)</label>
                        <input type="email" id="email" name="email" required minlength="7">
                    </div>
                    <div class="form-group">
                        <label for="message">Message Here (required)</label>
                        <textarea id="message" name="message" required rows="5"></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
        </section>
        </main>
        <footer>
        <!--Extra information, copyright and additional navigation goes here-->
            <div class="footernav">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html">Home</a></li>
                    <li><a href="/portfolio-project/components/projects/index.html">Projects</a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html">About Me</a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html">Contact Me</a></li>
                </ul>
            </div>
            <p>© 2026 - Lucas Hadfield - lolololol</p> <!--Note: Not actually real copyright XD-->    
        </footer>
    </body>
</html>