<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lucas Hadfield Portfolio</title>
        <meta name="description" content="Lucas Hadfield's online web portfolio showcasing his skills, 
        projects, and experience in web development and IT Study.">
        <link rel="stylesheet" href="/portfolio-project/assets/global-styles/reset.css">
        <link rel="stylesheet" href="/portfolio-project/assets/global-styles/colors.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/portfolio-project/assets/images/site logo.webp" alt="My dogs silly face as the Site Logo">
                <h1>Lucas Hadfield Portfolio</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html">Home</a></li>
                    <li><a href="/portfolio-project/components/projects/index.html">Projects</a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html">About Me</a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html">Contact Me</a></li>
                </ul>
            </div>
        </header>
        <main>
        <!-- Projects page content goes here -->
            <h2>Projects</h2>
            <section>
                <h3>Explore some of the projects I've been working on!</h3>
                <p>
                    On this page you will find some of the various projects I have been working on during my time at NMIT or during my
                    self directed study of various coding languages such as JavaScript, HTML, CSS, MySQL and more. This page will be updated
                    with new projects as my learning progresses, so watch this space!
                </p>
                <ul class="project-grid">
                    <li>
                        <h4>Hut Booking Tracker</h4>
                        <img src="/portfolio-project/assets/images/Hut Booking Tracker.webp" alt="A screenshot of a command line JavaScript booking system for booking huts.">
                        <p>
                            This Hut Booking Tracker was created by me during my SDV503 class in my first year at NMIT. This app was designed to track bookings for huts in the DOC hut network.
                            This marked a major leap in my ability to create something using code. Although this project definitely has room for improvement, it still serves as a milestone for me in my coding journey.
                        </p>
                    </li>
                    <li>
                        <h4>Study Tracker</h4>
                        <img src="/portfolio-project/assets/images/Study Tracker.webp" alt="A screenshot of a command line JavaScript application for tracking study durations.">
                        <p>
                            An earlier project from my SDV503 class at NMIT. Made before the Hut Booking Tracker, it was designed to simply record how much time someone studied for and show a
                            report of how much time they had spent studying over the course of a week.
                        </p>
                    </li>
                    <li>
                        <h4>freeCodeCamp HTML</h4>
                        <img src="/portfolio-project/assets/images/freeCodeCamp HTML.webp" alt="A screenshot of my progress on freeCodeCamp's HTML course.">
                        <p>
                            Over the course of my second semester at NMIT, I have been working on freeCodeCamp's responsive web design course. Part of which is the language HTML which, while being a relatively
                            basic, still proved to be quite the challenge to understand the proper formatting as well as other important aspects of web design such as ARIA attributes and WCAG guidelines. 
                        </p>
                    </li>
                    <li>
                        <h4>freeCodeCamp CSS</h4>
                        <img src="/portfolio-project/assets/images/freeCodeCamp CSS.webp" alt="A screenshot of my progress on freeCodeCamp's CSS course.">
                        <p>
                            Another part of freeCodeCamp's responsive web design course, CSS has been both exciting and confusing to get my head around. While I do enjoy the added styling ability which CSS 
                            provides websites and its ability to personalise them almost endlessly, I occassionally found some of the coding confusing until I understood specificity more in-depth so that 
                            styles don't overlap with one another.
                        </p>
                    </li>
                    <li>
                        <h4>freeCodeCamp JavaScript</h4>
                        <img src="/portfolio-project/assets/images/freeCodeCamp JavaScript.webp" alt="A screenshot of my progress on freeCodeCamp's JavaScript course.">
                        <p>
                            JavaScript. As incredibly flexible as it is mildly infuriating. I have used it to create simple command line applications, custom functions and course specific assessment work. Through
                            it all I have seen how flexible it can be when designing web applications, I have also seen how its flexibility can hurt it somewhat. While its true that it adds interactivity to websites, JavaScript 
                            (at least in my experience) also is prone to tiny malfunctions that ultimately break the entire function.
                        </p>
                    </li>
                    <li>
                        <h4>CSA502 Computer Hardware</h4>
                        <img src="/portfolio-project/assets/images/CSA502 Computer Hardware.webp" alt="a fully disassembled desktop computer">
                        <p>
                            During my CSA502 class at NMIT, I learned how to pull an entire computer apart and put it back together in the space of just a couple of hours. 
                            I found it incredibly fun to see the inner workings, cable management, design and layout of an everyday desktop pc and how everything fit together.
                            Although seeing all the parts strewn about the table made me a tad nervous at the time, I had always wanted to pull one apart just to see how they work. 
                        </p>
                    </li>
                    <li>
                        <h4>WEB504 Storefront Practice</h4>
                        <img src="/portfolio-project/assets/images/WEB504 Storefront.webp" alt="A screenshot of a practice hiking gear website">
                        <p>
                            This is a simple responsive webpage which I designed in two hours during my WEB504 class (Coincidentally the same class I made this website in). While it only features
                            two pages and relatively simple layout, it was still infinitely helpful to understand how a real website might be laid out and gave me insights into how to design this website.
                        </p>
                    </li>
                </ul>
            </section>
        </main>
        <footer>
        <!--Extra information, copyright and additional navigation goes here-->
            <div class="footernav">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html">Home</a></li>
                    <li><a href="/portfolio-project/components/projects/index.html">Projects</a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html">About Me</a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html">Contact Me</a></li>
                </ul>
            </div>
            <p>© 2026 - Lucas Hadfield - lolololol</p> <!--Note: Not actually real copyright XD-->    
        </footer>
    </body>
</html>