<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lucas Hadfield Portfolio</title>
        <meta name="description" content="Lucas Hadfield's online web portfolio showcasing his skills, 
        projects, and experience in web development and IT Study.">
        <link rel="stylesheet" href="/portfolio-project/assets/global-styles/reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/portfolio-project/assets/images/site logo.webp" alt="My dogs silly face as the Site Logo">
                <h1>Lucas Hadfield Portfolio</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html"><h2>Home</h2></a></li>
                    <li><a href="/portfolio-project/components/projects/index.html"><h2>Projects</h2></a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html"><h2>About Me</h2></a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html"><h2>Contact Me</h2></a></li>
                </ul>
            </div>
        </header>
        <!-- About Me page content goes here -->
        <footer>
            <!--Extra information, copyright and additional navigation goes here-->
            <div class="footernav">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html"><h2>Home</h2></a></li>
                    <li><a href="/portfolio-project/components/projects/index.html"><h2>Projects</h2></a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html"><h2>About Me</h2></a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html"><h2>Contact Me</h2></a></li>
                </ul>
            </div>
            <p>© 2026 - Lucas Hadfield - lolololol</p> <!--Note: Not actually real copyright XD-->    
        </footer>
    </body>
</html>