<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lucas Hadfield Portfolio - About Me</title>
        <meta name="description" content="Lucas Hadfield's online web portfolio showcasing his skills, 
        projects, and experience in web development and IT Study.">
        <link rel="icon" type="image/webp" href="../../assets/images/site logo.webp">
        <link rel="stylesheet" href="../../assets/global-styles/reset.css">
        <link rel="stylesheet" href="../../assets/global-styles/colors.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="../../assets/images/site logo.webp" alt="My dogs silly face as the Site Logo">
                <h1>Lucas Hadfield Portfolio</h1>
            </div>
            <nav class="navbar" aria-label="Main Navigation">
                <ul>
                    <li><a href="../home/index.html">Home</a></li>
                    <li><a href="../projects/index.html">Projects</a></li>
                    <li><a href="../about-me/index.html" aria-current="page">About Me</a></li>
                    <li><a href="../contact-me/index.html">Contact Me</a></li>
                </ul>
            </nav>
        </header>
        <main> 
        <!-- About Me page content goes here -->
            <h2>About Me</h2>
            <section aria-labelledby="about-heading">
                <h3 id="about-heading">What would you like to know about me?</h3>
                <img src="../../assets/images/My profile image.webp" alt="My dog and I crossing a swing bridge together.">
                <p>
                    My name (as you may have guessed) is Lucas Hadfield, I am a first year IT student at NMIT and aspiring developer.
                    Before making the decision to attend NMIT I bounced from job to job, with my professional background including trades and retail 
                    services as well as a brief stint in the agriculture industry as a Beekeeper. None of them ever felt right, like they were missing something that
                    hooked me, then I made the decision to join NMIT and I haven't looked back once!
                </p>
                <p>
                    I am quite fond of the outdoors and going on long walks with my dog, I also enjoy baking and computer games! So much so that I have often considered
                    making a game of my own someday. Personally, the idea of creating my own game from scratch has always been simultaniously intruiging and daunting to me. Somewhere down the line
                    I would be interested in trying to weather that challenge, even if its only a personal project like this portfolio is.
                </p>
                <p>
                    I have always had an interest in computers and technology, often fiddling around with software and code just to see what would happen.
                    For the longest while I was (and still am) considered my families 'Tech Expert', able to diagnose and solve most common problems which
                    computers experience. While this doesn't exactly stack up to coding or networking, it still acted as my first real 'Hmm, maybe I could do this as a job.'
                    moment. 
                </p>
            </section>
        </main>
        <footer>
            <!--Extra information, copyright and additional navigation goes here-->
            <nav class="footernav" aria-label="Footer Navigation">
                <ul>
                    <li><a href="../home/index.html">Home</a></li>
                    <li><a href="../projects/index.html">Projects</a></li>
                    <li><a href="../about-me/index.html" aria-current="page">About Me</a></li>
                    <li><a href="../contact-me/index.html">Contact Me</a></li>
                </ul>
            </nav>
            <p>© 2026 - Lucas Hadfield - lolololol</p> <!--Note: Not actually real copyright XD-->    
        </footer>
    </body>
</html>