<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lucas Hadfield Portfolio</title>
        <meta name="description" content="Lucas Hadfield's online web portfolio showcasing his skills, 
        projects, and experience in web development and IT Study.">
        <link rel="stylesheet" href="/portfolio-project/assets/global-styles/reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <!--Header, site logo/name and navbar goes here-->
        <header>
            <div class="logo">
                <img src="/portfolio-project/assets/images/site logo.webp" alt="My dogs silly face as the Site Logo">
                <h1>Lucas Hadfield Portfolio</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html">Home</a></li>
                    <li><a href="/portfolio-project/components/projects/index.html">Projects</a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html">About Me</a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html">Contact Me</a></li>
                </ul>
            </div>
        </header>
        <!-- Home page content goes here -->
        <main>
            <h2>Home</h2>
            <section>
                <h3>Welcome to My Portfolio!</h3>
                <p>Hello and welcome to my online portfolio! My name is Lucas Hadfield, I am a student and aspiring web developer with a passion for technology
                    and website design! On this website you will find information about me, my past experiences and future aspriations as well as some projects
                    I have worked on both in and out of school such as physical computer work, website design, databases, networks or coding files. This website in and of itself
                    is a work in progress and will likely be updated as time goes by, as my learning advances and I work on/complete more projects.
                    Thought some of the projects may be relatively simple, I am proud of each one I upload here. I hope you enjoy learning a bit about me and the things I enjoy doing!
                    <br>- Lucas Hadfield 
                </p>
            </section>
        </main>
        <footer>
            <!--Extra information, copyright and additional navigation goes here-->
            <div class="footernav">
                <ul>
                    <li><a href="/portfolio-project/components/home/index.html">Home</a></li>
                    <li><a href="/portfolio-project/components/projects/index.html">Projects</a></li>
                    <li><a href="/portfolio-project/components/about-me/index.html">About Me</a></li>
                    <li><a href="/portfolio-project/components/contact-me/index.html">Contact Me</a></li>
                </ul>
            </div>
            <p>© 2026 - Lucas Hadfield - lolololol</p> <!--Note: Not actually real copyright XD-->    
        </footer>
    </body>
</html>